.banner{
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position:center;
  padding: 150px 0;

}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-left: 100px;
}
.banner h3 {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-left: 100px;
}
.banner .btn-primary{
  color:rgb(248, 243, 243);
  border: 1px solid rgb(11, 74, 11);
  background-color: rgb(36, 123, 36);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-left: 100px;
  margin-top: 4px;
}
.banner .btn-primary:hover{
  transition: 0.4s;
  color: lightgreen;
}
